@import '../../assets/variables';

.button {
    padding: 10px 50px;
    height: 40px;
    border-radius: 8px;
    background-color: $btn-bccolor;
    color: $white-color;
    box-shadow: $box-shadow;
    cursor: pointer;
    &:hover {
        cursor: pointer;
    }
}
